.title {

   margin: 0 auto;
   margin-top: var(--spacer);
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    width: 90%;
    @media (min-width: 50em) {
       margin-left: 0;
       font-size: 1.8rem;
       width: 100%;
       --spacer: 1rem;
    }
    @media (min-width: 80em) {
      font-size: 2.5rem;
      --spacer: 3rem;
    }
}

.paragraph {
    font-family: var(--ff-secondary);
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: .8;
    font-size: 1rem;

    @media (min-width: 50em) {
       margin-bottom: 1.5rem;
     }
}