.container {
  max-width: 80rem;
  padding: 2em 1.5em;
  margin: 0 auto;

}

.btn {
  padding: .5rem 3.5rem;
  background: var(--White);
  color: var(--Violet);
  border-radius: var(--br);
  font-size: .8rem;
  line-height: 1;
}

a.btn {
  text-decoration: none;
  font-family: var(--ff-primary);
}

a.btn:hover {
  cursor: pointer;
  color: var(--White);
  background-color: var(--Soft-Magenta);
}